<%= link_to "Shorten a URL", new_website_path %>

<h2>Websites by Popularity</h2>
<% @websites.each do |website| %>
  <p><b>JetFuel URL:</b> <span> <%= link_to full_short_url(website), website_path(website), target: '_blank' %> </span></p>
   <p><b>Destination:</b> <span><%= website.long_url %></span></p>
  <p>
    ------------------------------------
  </p>
<% end %>
