<%= link_to "Shorten a URL", new_website_path %>

<h2>Websites by Popularity</h2>
<% @websites.each do |website| %>
  <p>Short URL: <%= link_to full_short_url(website), full_short_url(website) %> Long URL: <%= website.long_url %></p>
<% end %>
