<%= form_for @website do |f| %>
  <%= f.label "your url" %>
  <%= f.text_field :long_url, value: 'http://' %>
  <p>
  Must begin with 'http://' or 'https://'
  </p> 
  <%= f.submit "Shorten!" %>
<% end %>
